.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 2px 2px 5px #ccc;
  background: white;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px #aaa;
}

.today-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.fortune-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.fortune-text {
  font-size: 1.2rem;
  text-align: center;
}



.emotions-list {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}



.emotion-button { 
 
  background-color: wheat;
  border-color: white;
  color: black;
}


.emotions-card-selected {
 transform: scale(1.1);
 background:   #d1ffd1;
 border-color: #4caf50;
 
}




